@import 'tailwindcss';

html {
  background-color: #101828;
}

body {
  background: linear-gradient(#21212f 5%, #101828 30%);
  color: #d1d5dc;

  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


a {
  color: #74d4ff;
  opacity: 0.8;
  text-decoration: none;
}

a:hover {
  opacity: 1;
}